{% extends "base/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h1>{% if purchase_record.pk %}Edit Purchase Record{% else %}Create Purchase Record{% endif %}</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Save</button>
                <a href="{% url 'purchase-record-list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
