{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock title %}</title>

    <!-- Tailwind CSS -->
    {% comment %} {% tailwind_css %} {% endcomment %}
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"> 
</head>
{% comment %} <body class="d-flex flex-column min-vh-100"> {% endcommen t %}
<body class="d-flex flex-column min-vh-100">

    <!-- Header -->
    <header style="z-index: 1000;">
        {% include "includes/header.html" %}
    </header>

    
    {% comment %} <div class="d-flex flex-grow-1" style="padding-top: 56px;">
        <nav class="sidebar bg-dark text-light vh-100 position-fixed" style="width: 250px; top: 0;">
            {% include "includes/sidebar.html" %}
        </nav>

        <div class="content flex-grow-1" style="padding-left: 250px;">
            {% block content %}{% endblock %}
        </div>
    </div> {% endcomment %}
      <!-- Main Container for Sidebar and Content -->
      <div class="d-flex flex-grow-1" >
        <nav class="sidebar bg-dark text-light vh-100 position-fixed" style="width: 250px; top: 56px;">
            {% include "includes/sidebar.html" %}
        </nav>

        <div class="content flex-grow-1" style="padding-left: 250px; margin-top:1rem;">
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-white text-center mt-auto">
        {% include "includes/footer.html" %}
    </footer>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>

