<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm position-fixed w-100" style="background-color: #001f3f; color: #ffffff;">
    <a class="navbar-brand" href="#">Army Public School</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'staff_dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tasks</a>
        </li>
        <!-- Staff Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="staffDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Staff
          </a>
          <div class="dropdown-menu" aria-labelledby="staffDropdown">
            <a class="dropdown-item" href="{% url 'employee_list' %}">Employees</a>
            <a class="dropdown-item" href="{% url 'employee_designation_list' %}">Employee Designations</a>
            <a class="dropdown-item" href="{% url 'qualification_list' %}">Qualifications</a>
            <a class="dropdown-item" href="{% url 'staffperformance_list' %}">Staff Performance</a>
          </div>
        </li>
          
           <li class="nav-item">
          <a class="nav-link" href="#">Tasks</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Announcements</a>
        </li>
        </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>