<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm position-fixed w-100" style="background-color: #001f3f; color: #ffffff;">
    <a class="navbar-brand" href="{% url 'home' %}">Army Public School</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Admissions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      {% comment %} <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Signup</a>
        </li>
      </ul> {% endcomment %}
       <!-- Right-aligned login/signup links -->
    <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% comment %} <img src="{{ user.profile.profile_picture.url|default:'/static/image/default_image.jpg' }}" class="rounded-circle" alt="User Avatar" width="30" height="30"> {% endcomment %}
            {% if user.profile.profile_picture %}
                <img src="{{ user.profile.profile_picture.url }}" class="rounded-circle" alt="User Avatar" width="30" height="30">
            {% else %}
                <img src="/static/image/default_image.jpg" class="rounded-circle" alt="Default Avatar" width="30" height="30">
            {% endif %}
                {{ user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url "logout"  %}">Logout</a>
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "login" %}">Login</a>
          </li>
          {% comment %} <li class="nav-item">
            <a class="nav-link" href="{% url "signup" %}">Signup</a>
          </li> {% endcomment %}
        {% endif %}
      </ul>
    </div>
  </nav>