{% extends "base/base.html" %}

{% block title %}Item List{% endblock %}

{% block content %}
  <div class="container my-5">
    <h2 class="my-4 text-center">Item Lists Muhammad Bilal </h2>
    <div class="text-end mb-3">
      <a href="{% url 'item-create' %}" class="btn btn-primary">Add New Item</a>
    </div>
    
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.category.name }}</td>
            <td>${{ item.unit_price|floatformat:2 }}</td>
            <td class="text-center">
              <a href="{% url 'item-detail' item.pk %}" class="btn btn-sm btn-info">View</a>
              <a href="{% url 'item-update' item.pk %}" class="btn btn-sm btn-warning">Edit</a>
              <a href="{% url 'item-delete' item.pk %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4" class="text-center">No items available.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <h1 class=" bg-red-400 ">Skill Evokers</h1>
{% endblock %}
