{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock title %}</title>
    
    <!-- Tailwind CSS -->
    {% tailwind_css %}
    
    
</head>
<body>
    <!-- Header Include -->
    <header>
        {% include "includes/header.html" %}
    </header>
    
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3">
                {% include "includes/sidebar.html" %}
            </div>
            
            <!-- Main Content Area -->
            <div class="col-md-9">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>

    <!-- Footer Include -->
    <footer>
        {% include "includes/footer.html" %}
    </footer>

    

    <script>
        $(document).ready(function () {
            $('.navbar-toggler').click(function () {
                $('.navbar-collapse').toggle();
            });
        });
    </script>
    
</body>
</html>

