{% extends "base/base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Welcome too the School Management Dashboard</h1>
    <div class="row">
        <div class="col-md-4">
            <a href="#" class="btn btn-primary w-100 my-2">Students</a>
            <a href="#" class="btn btn-primary w-100 my-2">Admissions</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary w-100 my-2">Fees</a>
            <a href="#" class="btn btn-primary w-100 my-2">Attendance</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-primary w-100 my-2">Employees</a>
            <a href="#" class="btn btn-primary w-100 my-2">Finance</a>
        </div>
    </div>
</div>

{% endblock content %}