{% extends "base/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h1>Confirm Delete</h1>
        </div>
        <div class="card-body">
            <p class="lead">Are you sure you want to delete "<strong>{{ items_in_stock.item.name }}</strong>"?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Confirm</button>
                <a href="{% url 'items-in-stock-list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
