{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-info text-white">
            <h1>{% if items_in_stock.pk %}Edit Items In Stock{% else %}Create Items In Stock{% endif %}</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Save</button>
                <a href="{% url 'items-in-stock-list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
